#name {
    margin: auto;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 86px;
    line-height: 90%;
    color: #EC3599;
}

#software-developer {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 276;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    padding-bottom: 10px;
}

#description {
    font-family: SF Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

#header-title {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color:#FFFFFF;
    margin: 84px auto;
}

/* Navbar and Links */
.navbar {
    background-color: #101010;
}

#myNavbar7 {
    justify-content: end;
    margin-right: 15px;
}

a:link,
a:visited {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    color: #EC3599;
    text-decoration: none;
}

/* Header */

.jumbotron {
    height: auto;
    height: 730px;
    background: #101010;
    align-items: center;
    justify-content: center;
}
#headshot-img {
    object-fit: cover;    
    width: 337px;
    height: 480px;
    left: 309px;
    top: 145px;
    border-radius: 12px 0px 0px 12px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.name-card {
    background: #FFFFFF;
    height: 480px; width: 850px;
    margin: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.name-card-text {
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
        width: 300px;
    }
    .name-card {
        height: 600px;
        width: 300px;
        position: relative;
        margin:0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .jumbotron {
        height: 700px;
    }

    #headshot-img {
        height: 380px;
        width: 300px;
    }

    #name {
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #software-developer {
        font-size: 16px;
        text-align: center;
    }
    
    #description {
        font-size: 16px;
        text-align: center;

    }
}

/* Portfolio */

.recent-work {
    position: relative;
    width: 378px;
    left: 313px;
    line-height: 64px;
    text-align: start;
    margin: 0;
    padding: 0;
}
.proj {
    position: relative;
    width: 424px;
    height: 516px;
    background: #FFFFFF;
    margin: 20px auto;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    padding: none;
    border: none;
    transition: background 0.3s;
}

.proj:hover {
    background: #EC3599;
    text-decoration: none;
}
.proj-name {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #EC3599;
    transition: color 0.3s;
}
.proj-lang {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
    transition: color 0.3s;
}
.proj-desc {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    transition: color 0.3s;
}

.proj:hover .proj-name {
    color:#FFFFFF;
}
.proj:hover .proj-desc {
    color:#FFFFFF;
}
.proj:hover .proj-lang {
    color: #FFA5C3;;
}
.proj-hover .card-body {
    text-decoration: none;
}
.proj-pic {
    height: 330px;
    object-fit: cover;
}

/* Skills */




/* Footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: #EC3599;
    color: white;
    height: 300px;
    bottom: 0;
}

.footer-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.connect-text {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
}

.input-text {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
}
.input-shadow {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.14);
}
.button-submit {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    float: left;
}
.button-submit:hover {
    background-color: white;
    color: #EC3599;
    border: white;
    padding: 7px 12px;
}
.disabled {
    opacity: 0.6;
}

#footerlink a:link,
#footer-link a:visited {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
#footer-link a:hover,
#footer-link a:visited:hover {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .footer-text {
        align-items: center;
    }
}