<div class="accent-color" style="display: flex; justify-content: center; align-items: center; padding: 84px 0;">
    <div class="card row-to-column" style="width: 66%;">
        <img src="assets/headshot.jpg" style="max-height: 600px; height: 60%; object-fit: cover;" />
        <div style="flex-direction: column;" class="flex-container name-card-text">
            <div id="name">Elaine Kodama</div>
            <div>
                <div id="software-developer">Software Engineer</div>
                <div id="description">Versatile full-stack developer for web and mobile applications</div>
            </div>
        </div>
    </div>
</div>