@font-face {
    font-family: Futura;
    src: url(futura/futur.ttf);
}

@font-face {
    font-family: SF Pro;
    src:url(fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: Futura Bold;
    src: url(futura/Futura\ Bold\ font.ttf);
}

@font-face {
    font-family: SF Pro bold;
    src: url(fonts/SF-Pro-Display-Bold.otf);
    font-weight: bold;
}

h1 {
    margin: auto;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    text-decoration: none;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 40px;
}
.title {
    padding-top: 10px;
    font: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    color: #EC3599;
    font-size: 24px;
    text-overflow: ellipsis; 
    overflow: hidden; 
}

.title2 {
    font: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #EC3599;
    font-size: 18px;
    font-weight: normal;
}

.subtitle {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #BDBDBD;
    font-size: 22px;
    font-weight: normal;
}

.desc {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

h3 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: #EC3599;
}

/* Navbar and Links */
.navbar {
    background-color: #101010;
}

#myNavbar7 {
    justify-content: end;
    margin-right: 15px;
}

a:link,
a:visited {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #EC3599;
    text-decoration: none;
}

.navbar > .collapse {
    margin-left: 20px;
}

/* Sidebar */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #272727;
}

.menu {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: 40px;
    color: white;
    float: left;
    margin: 0;
    width:100%;
}

.menu-item {
    display: flex;
    position: sticky;
    color: #FFFFFF;
    font-size: 100%;
    vertical-align:center;
    padding: 3%;
    padding-left: 15%;
    text-decoration: none;
    margin-bottom: 5%;
}

.menu-item:hover,
.menu-item:visited:hover {
    background-color: #555;
    color: #FFFFFF;
}

.menu-icon {
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
    position: sticky;
}

.menu-icon:hover,
.menu-icon:visited:hover {
    color: #FFFFFF;
}

.content {
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    background: #272727;
}

@media screen and (max-width: 800px) {

    /* h1 {
        font-size: 24px;
    }
    .title {
        font-size: 18px;
    }
    
    .title2 {
        font-size: 16px;
    }
    
    .subtitle {
        font-size: 16px;
    }
    .desc {
        font-size: 12px;
    }
    */

    .menu {
        display: none;
    }
    .panel {
        width: 30%;
        margin: auto;
        margin-top: 15px;
        background-color: #101010;
        text-align: center;
        align-content: center;
        border-radius: 12px;
        padding: 5px 10px;
    }
    
    .panel-body {
        padding: 5px;
    }

    div.content { margin-left: 0; margin-right: 0; position: relative;}
}

@media screen and (min-width: 800px){
    .panel {
        display: none;
    }
}

/* Footer */
.footer-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
.connect-text {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
}
.input-text {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
}
.input-shadow {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.14);
}
.button-submit {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    float: left;
}
.button-submit:hover {
    background-color: white;
    color: #EC3599;
    border: white;
    padding: 7px 12px;
}
.disabled {
    opacity: 0.6;
}
#footerlink a:link,
#footer-link a:visited {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
#footer-link a:hover,
#footer-link a:visited:hover {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 1050px) {
    .footer-text {
        align-items: center;
    }
    .connect-text {
        padding: 0;
    }
}
@media (max-width: 600px) {

    .connect-text {
        padding: 0;
        word-spacing: 0em;
    }
}